
<!-- HEADER -->
<ng-container *ngIf="contentSubject | async as contentObject">
	<!-- if the content exists and you're authorized, the content will be a valid object; else not. -->
	<h1>{{contentObject.title || "[Blank]"}}</h1>
	<div *ngIf="(authService.getUser() | async) && authService.isUserOfRole(AccessRoles.admin) && !previewMode" class="pageControls">
		<button mat-icon-button [matMenuTriggerFor]="pageControls">
			<mat-icon>more_vert</mat-icon>
		</button>
		<mat-menu #pageControls="matMenu" xPosition="before">
			<button mat-menu-item (click)="navigateToEditPage()">
				<mat-icon>mode_edit</mat-icon> Edit
			</button>
			<button mat-menu-item (click)="deletePage()" [disabled]="contentObject.route === 'home'">
				<mat-icon>delete</mat-icon> Delete
			</button>
		</mat-menu>
	</div>
</ng-container>

<!-- Content -->
<div #contentHost id="content"></div>

<!-- Details -->
<ng-container *ngIf="!previewMode && contentSubject | async as contentObject">
	<span class="info" *ngIf="contentObject.access !== AccessRoles.everyone">Access group: {{contentObject.access}}</span>
	<div class="info right" *ngIf="contentObject.route !== 'home' && !previewMode && contentObject.updatedAt">
		<div>
			Updated by: {{contentObject.updatedBy.username}}, <span [matTooltip]="contentObject.updatedAt | TimeAgo" matTooltipPosition="above">
				{{ contentObject.updatedAt | date:'dd. MMM yyyy, HH:mm' }}
			</span>
		</div>
		<div>
			Written by: {{contentObject.createdBy.username}}, <span [matTooltip]="contentObject.createdAt | TimeAgo" matTooltipPosition="above">
				{{ contentObject.createdAt | date:'dd. MMM yyyy, HH:mm' }}
			</span>
		</div>
	</div>
</ng-container>