/// <reference path="../../../scss/_theme_vars.scss" />

:host {
	position: relative;
	flex-flow: column;
	display: flex;
	padding-bottom: 44px;

	#content {
		padding: 0 3px;
	}

	.info {
		position: absolute;
		left: 0;
		bottom: 0;
		margin-top: 10px;
		font-weight: 600;
		font-size: 0.7em;

		&.right {
			text-align: right;
			left: initial;
			right: 0;
		}
	}
}

.pageControls {
	position: absolute;
	right: 0.2em;
	top: 0.2em;
}
