/// <reference path="../../../scss/_theme_vars.scss" />

:host {
	padding: 40px 20px;
	text-align: center;
	font-size: 0.75em;
	color: rgba(var(--color-text), .6);
	box-sizing: border-box;

	span {
		display: block;
	}
}
