@import '_theme_vars';

nav {
  padding-top: 0;
  a.active {
    background: $activeRouteBackground;
  }
  .subItem {
    margin-left: 14px;
  }
  .mat-subheader {
    color: $primary;
    font-weight: bold;
    margin-top: 1.2em;
  }
}
