<div class="search" *ngIf="mobileService.isMobile() | async">
	<search-component alternativeColor="true"></search-component>
</div>
<mat-nav-list dense [style.touch-action]="'pan-y'">
	<ng-container *ngIf="contentSubject | async as nav">
		<a mat-list-item *ngFor="let navEntry of nav.rootContent; trackBy: trackBy"
		   routerLink="/{{navEntry.route}}"
		   routerLinkActive="active">{{ navEntry.title }}</a>

		<ng-container *ngFor="let folderEntry of nav.folders">
			<h2 mat-subheader>{{ folderEntry.title }}</h2>
			<a mat-list-item *ngFor="let navEntry of folderEntry.content; trackBy: trackBy"
			   routerLink="/{{navEntry.route}}"
			   routerLinkActive="active"
			   ngClass="subItem">{{ navEntry.title }}</a>
		</ng-container>
	</ng-container>
</mat-nav-list>