/// <reference path="../../../scss/_theme_vars.scss" />

.loading {
	border-bottom: 1px solid #000;
	height: 3px;
	// NOTE: ::ng-deep might be depricated later! Use with care!
	::ng-deep .mat-progress-bar-buffer {
		background: var(--color-background);
	}
}

.fixed {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1000;
}
