<!-- LOGIN FORM -->
<div class="loginForm">
  <form [formGroup]="loginForm" (ngSubmit)="logIn()" id="loginForm">
    <!-- USERNAME -->
    <mat-form-field class="field">
      <input matInput placeholder="Username" type="text" formControlName="username" required autocomplete="username">
      <mat-error *ngIf="loginForm.get('username').hasError('required')">
        Username is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <!-- PASSWORD -->
    <mat-form-field class="field">
      <input matInput placeholder="Password" type="password" formControlName="password" required autocomplete="current-password">
      <mat-error *ngIf="loginForm.get('password').hasError('required')">
        Password is <strong>required</strong>
      </mat-error>
    </mat-form-field>
  </form>

  <ng-container [ngSwitch]="(state | async)">
    <!-- TRY_AGAIN MESSAGE -->
    <mat-error *ngSwitchCase="STATES.TRY_AGAIN">
      The email or password was incorrect.
    </mat-error>

    <!-- TIMED_OUT MESSAGE -->
    <mat-error *ngSwitchCase="STATES.TIMED_OUT">
      Could not establish a connection with the server.
    </mat-error>

    <!-- OVERLAY: LOADING -->
    <div *ngSwitchCase="STATES.LOADING" class="overlay">
      <div class="blocker">
        <mat-progress-spinner mode="indeterminate" ngClass="loading"></mat-progress-spinner>
      </div>
    </div>
  </ng-container>

  <button mat-raised-button form="loginForm" type="submit" [disabled]="!loginForm.valid || (state | async) == STATES.LOADING" color="primary" ngClass="loginButton">
    Log in
  </button>
</div>
