
md-card.loginBox {
  position: relative;
  margin-bottom: 10px;
}

.field {
  width: 100%;
}

.mat-card-avatar {
  font-size: 2.8em;
  margin-right: 10px;
  margin-left: -10px;
}

.actions {
  display: flex;
  justify-content: space-between;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background: rgba(0,0,0,0.25);
  .blocker {
    width: 100%;
    height: 100%;
    pointer-events: none !important;
    .loading {
      margin: 0 auto;
      margin-top: 30px;
    }
  }
}
