<mat-card ngClass="loginBox">
  <!-- ASYNC CHECK; SUBSCRIBES TO LOGGED-IN OBSERVABLE; UPDATES AUTOMAGICALLY -->
  <!-- USER IS ALREADY LOGGED IN SECTION -->
  <ng-container *ngIf="authService.getUser() | async; let user; else loginFormSection">
    <mat-card-header>
      <mat-card-title>{{ user.email }}</mat-card-title>
      <mat-card-subtitle>{{ user.role }}</mat-card-subtitle>
      <mat-icon mat-card-avatar color="accent">person</mat-icon>
    </mat-card-header>
    <mat-card-content>
    </mat-card-content>
    <mat-card-actions ngClass="actions">
      <button mat-raised-button color="primary" (click)="navigateToUserPage()">
        User Settings
      </button>
      <button mat-raised-button color="primary" (click)="logOut()">
        Log out
      </button>
    </mat-card-actions>
  </ng-container>


  <!-- NOT LOGGED IN SECTION -->
  <ng-template #loginFormSection>
    <mat-card-content>
      <!-- LOGIN FORM -->
      <form [formGroup]="loginForm" (ngSubmit)="logIn()" id="loginForm">
        <!-- EMAIL -->
        <mat-form-field class="field">
          <input matInput placeholder="Email" type="email" pattern="\S+@\S+\.\S+" [formControl]="loginForm.controls['email']" required>
          <mat-error *ngIf="loginForm.controls['email'].hasError('pattern')">
            Please enter a valid email address
          </mat-error>
          <mat-error *ngIf="loginForm.controls['email'].hasError('required')">
            Email is <strong>required</strong>
          </mat-error>
        </mat-form-field>

        <!-- PASSWORD -->
        <mat-form-field class="field">
          <input matInput placeholder="Password" type="password" [formControl]="loginForm.controls['password']" required>
          <mat-error *ngIf="loginForm.controls['password'].hasError('required')">
            Password is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </form>

      <!-- TRY_AGAIN MESSAGE -->
      <mat-error *ngIf="state == STATES.TRY_AGAIN">
        The email or password was incorrect.
      </mat-error>

      <!-- TIMED_OUT MESSAGE -->
      <mat-error *ngIf="state == STATES.TIMED_OUT">
        Could not establish a connection with the server.
      </mat-error>

      <!-- OVERLAY: LOADING -->
      <div class="overlay" *ngIf="state == STATES.LOADING">
        <div class="blocker">
          <mat-progress-spinner mode="indeterminate" ngClass="loading"></mat-progress-spinner>
        </div>
      </div>
    </mat-card-content>


    <mat-card-actions ngClass="actions">
      <button mat-raised-button form="loginForm" type="submit" [disabled]="!loginForm.valid || state == STATES.LOADING" color="primary">
        Log in
      </button>
    </mat-card-actions>
  </ng-template>
</mat-card>
