/// <reference path="../../../scss/_theme_vars.scss" />

:host {
	background: var(--color-shade);
	border: var(--border);
	border-top: none;
	/*box-shadow: $boxShadow;*/

	h1 {
		font-size: 1.1em;
		margin: 0;
		border-style: none none solid none;
	}

	.content {
		padding: 15px;
	}
}


::ng-deep .field {
	display: flex;
	justify-content: space-between;
	align-items: baseline;

	::ng-deep label.disabled {
		color: var(--color-disabled);
	}

	.full {
		width: 100%;
		height: 25.5px;
		margin: 1.25em 0;

		::ng-deep .mat-checkbox-layout {
			display: flex;
			justify-content: space-between;
			width: 100%;
		}

		::ng-deep .mat-checkbox-inner-container {
			margin-right: inherit;
		}
	}
}