

<div *ngIf="((!!filterSettings.hidden && filterSettings.hidden | async) || (!filterSettings.hidden && true))" [formGroup]="filterForm"
	 [ngClass]="{ filterBox: true, mobile: (mobileService.isMobile() | async) }">
	<mat-form-field floatLabel="never" ngClass="filter">
		<input matInput [placeholder]="filterSettings.placeholder || 'Filter'" type="text" autocomplete="off" formControlName="filterControl">
		<button *ngIf="filterForm.get('filterControl').value.length > 0" matSuffix mat-icon-button
				(click)="filterForm.get('filterControl').reset('')">
			<mat-icon>clear</mat-icon>
		</button>
	</mat-form-field>
</div>

<mat-table #table [dataSource]="Source" matSort [matSortActive]="settings.active" matSortDisableClear [matSortDirection]="settings.dir">

	<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
	<mat-row *matRowDef="let row; columns: displayedColumns;" (click)="rowClick(row)" [ngClass]="{ click: !!settings.rowClick }"></mat-row>

	<ng-container *ngFor="let col of settings.columns" [matColumnDef]="col.property">
		<mat-header-cell *matHeaderCellDef [disabled]="col.noSort" mat-sort-header
						 [ngClass]="{ narrow: col.narrow, rightAlignHeader: col.rightAlign }">
			{{col.header}}
		</mat-header-cell>

		<mat-cell *matCellDef="let obj" [ngClass]="{ narrow: col.narrow, rightAlign: col.rightAlign }" [ngSwitch]="col.type">

			<!-- Button -->
			<button *ngSwitchCase="ColumnType.Button" mat-mini-fab (click)="buttonClick(col, obj, $event)"
					[disabled]="!!col.disabled && col.disabled(obj, Source.data)">
				<mat-icon *ngIf="col.icon" [color]="!!col.disabled && col.disabled(obj, Source.data) ? '' : (col.color || 'primary')">
					{{col.icon(obj, Source.data)}}
				</mat-icon>
				<span *ngIf="!col.noText" [ngClass]="{ 'hasIcon': col.icon }">
					{{col.displayFormat ? col.displayFormat(obj, Source.data) : obj[col.property]}}
				</span>
			</button>

			<!-- InternalLink -->
			<a *ngSwitchCase="ColumnType.InternalLink" [routerLink]="col.func(obj, Source.data)" (click)="overrideClick($event)">
				<mat-icon *ngIf="col.icon">{{col.icon(obj, Source.data)}}</mat-icon>
				<span *ngIf="!col.noText" [ngClass]="{ 'hasIcon': col.icon }">
					{{col.displayFormat ? col.displayFormat(obj, Source.data) : obj[col.property]}}
				</span>
			</a>

			<!-- ExternalLink -->
			<a *ngSwitchCase="ColumnType.ExternalLink" [href]="col.func(obj, Source.data)" (click)="overrideClick($event)">
				<mat-icon *ngIf="col.icon">{{col.icon(obj, Source.data)}}</mat-icon>
				<span *ngIf="!col.noText" [ngClass]="{ 'hasIcon': col.icon }">
					{{col.displayFormat ? col.displayFormat(obj, Source.data) : obj[col.property]}}
				</span>
			</a>

			<!-- Image -->
			<ng-container *ngSwitchCase="ColumnType.Image">
				<div class="colImage" *ngIf="obj[col.property]">
					<img [src]="obj[col.property]" [alt]="col.displayFormat ? col.displayFormat(obj, Source.data) : ''">
				</div>
			</ng-container>

			<!-- Default -->
			<ng-container *ngSwitchDefault>
				<mat-icon *ngIf="col.icon">{{col.icon(obj, Source.data)}}</mat-icon>
				<span *ngIf="!col.noText" [ngClass]="{ 'hasIcon': col.icon }" [matTooltip]="col.tooltip && col.tooltip(obj, Source.data)" matTooltipPosition="above">
					{{col.displayFormat ? col.displayFormat(obj, Source.data) : obj[col.property]}}
				</span>
			</ng-container>
		</mat-cell>
	</ng-container>
</mat-table>

<mat-paginator [length]="Source.data.length" [pageSize]="25" [hidePageSize]="mobileService.isMobile() | async"
			   [pageSizeOptions]="pageSizes" showFirstLastButtons="true">
</mat-paginator>

<div class="count">
	{{this.Source.data.length}}
</div>