/// <reference path="../../../scss/_theme_vars.scss" />

// Row definitions
mat-header-row {
	box-shadow: var(--shadow), var(--shadow) inset;
	min-height: 42px;
	border: var(--border);
}

.mat-row {
	&:last-child {
		border: none;
	}
	&.click {
		cursor: pointer;
	}

	transition: background 0.5s ease-in-out;
	background: rgba(0,0,0,0);

	&:hover {
		background: rgba(var(--color-active), 0.1);
	}
}


mat-header-cell,
mat-cell {
	padding-right: 3em;
	&:last-child {
		padding: 0;
	}
}

// Column sizing
.narrow {
	text-align: center;
	max-width: 42px;
}
.rightAlign {
	text-align: right;
}
.rightAlignHeader {
	text-align: center;
}

// Icons
span.hasIcon {
	margin-left: 0.2em;
}
mat-icon {
	vertical-align: middle;
}

// Image column
.colImage {
	position: relative;
	left: 0;
	top: 0;
	height: 48px;
	width: 48px;
	overflow: hidden;
	display: flex;
	justify-content: center;
	box-sizing: border-box;
	border: var(--border);
	background: var(--color-sidepanel);

	img {
		margin: auto;
		width: auto;
		height: 100%;
	}

	&:after {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		z-index: 1000;
		box-shadow: var(--shadow) inset;
		pointer-events: none;
	}
}


// Paginator
mat-paginator {
	box-shadow: var(--shadow), var(--shadow) inset;
	border: var(--shadow);

	::ng-deep .mat-paginator-container {
		min-height: 42px;
		max-height: 42px;
		overflow: hidden;
	}
}

.filterBox {
	margin: 0 auto;
	width: 250px;

	&.mobile {
		width: 80%;
	}

	.filter {
		width: 100%;
	}
}

.count {
	font-weight: 500;
	color: var(--color-text);
	font-size: 12px;
	position: absolute;
	bottom: 16px;
	left: 24px;
	width: 100px;
}

:host {
	position: relative;
}