$border: 1px solid #999;


// FOOTER
.footer {
  border: $border;
  border-style: solid none none none;
  flex: 1 1;
  margin: 10px 25px;
  padding: 10px;
  text-align: center;

  font-size: 0.75em;
  color: rgba(0,0,0,0.8);

  span {
    margin: 0.5em;
    display: block;
  }
}
