<header-component (leftNav)="toggleLeftNav()" (rightNav)="toggleRightNav()"></header-component>
<loadingbar-component></loadingbar-component>
<!-- NAVIGATION BAR -->
<nav-component *ngIf="!(mobileService.isMobile() | async) as notMobile" [ngClass]="{ nav: true, full: notMobile }"></nav-component>

<mat-sidenav-container #sidenav>
	<div [ngClass]="{ site: true, mobile: (mobileService.isMobile() | async) }">
		<!-- CONTENT -->
		<main class="wrapper"><router-outlet></router-outlet></main>
		<!-- FOOTER -->
		<footer-component class="footer"></footer-component>
	</div>

	<!-- MOBILE SWIPE TRIGGERS -->
	<div *ngIf="mobileService.isMobile() | async" class="swipe left" (swiperight)="sidenavLeft.open()"></div>
	<div *ngIf="mobileService.isMobile() | async" class="swipe right" (swipeleft)="sidenavRight.open()"></div>

	<!-- MOBILE LEFT -->
	<mat-sidenav #sidenavLeft mode="over" position="start" ngClass="sidenav" (swipeleft)="closeSideNavs()" [style.touch-action]="'pan-y'">
		<nav-component ngClass="nav" *ngIf="mobileService.isMobile() | async"></nav-component>
	</mat-sidenav>
	<!-- MOBILE RIGHT -->
	<mat-sidenav #sidenavRight mode="over" position="end" ngClass="sidenav" (swiperight)="closeSideNavs()" [style.touch-action]="'pan-y'">
		<ng-container *ngIf="mobileService.isMobile() | async">
			<div *ngIf="authService.getUser() | async as user" class="mobileLoginInfo">
				<mat-icon color="primary">person</mat-icon>
				<div class="user">
					<h3>{{ user.username }}</h3>
					<h4>{{ user.role }}</h4>
				</div>
			</div>
			<control-panel-component></control-panel-component>
		</ng-container>
	</mat-sidenav>
</mat-sidenav-container>


