@import "../../../theme.scss";


$contentBG: rgba(255,255,255,0.8);
$border: 1px solid #666;

$contentWidth: 850px;
$sideWidth: 250px;


// SITE SETUP
.wrapper {
  background: none !important;
  min-height: calc(100vh - 44px - 48px);
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: stretch;

  .left, .right, .center {
    flex: 1 1;
    padding: 10px 7px 4px 7px;
    box-sizing: border-box;
  }

  .left, .right {
    max-width: $sideWidth;
  }
  .center.main {
    max-width: $contentWidth;
  }
  &.mobile {
    padding-top: 44px;
  }
}

// HEADER
.topHeader {
  background: $primary;
  display: flex;
  justify-content: center;
  padding: 0.5em;
  color: #fff;

  &.mobile {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
  }

  a.title {
    text-align: center;
    font-size: 1.5em;
    margin: 0 auto;
    .logo {
      vertical-align: bottom;
      margin-bottom: 2px;
      margin-right: 1px;
    }
  }
  .navToggle {
    position: absolute;
    top: 2px;
    left: 2px;
    &.right {
      left: auto;
      right: 2px;
    }
  }
}
