@import '_theme_vars';


// SITE SETUP
.wrapper {
  max-width: $wrapperWidth;
  box-sizing: border-box;
  margin: 0 auto;
  padding-left: $wrapperPadding;
  padding-right: $wrapperPadding;

  background: none !important;
  min-height: calc(100vh - #{$headerHeight} - #{$footerHeight});
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: stretch;

  &.mobile {
    padding: 0;
    margin-top: $headerHeight;

    .center {
      max-width: 100%; // Required to make overflow-wrap: break-word; work on mobile
      min-width: 100%;
    }
  }

  .left, .center {
    flex: 1 1;
    padding: 10px 7px 4px 7px;
    box-sizing: border-box;
  }
  .left {
    max-width: $sideWidth;
  }
  .center {
    min-width: $contentMinimumWidth;
  }
}


// SIDE CONTENT
.sidenavContainer {
  background: none;
  .sidenav {
    position: fixed;
    pointer-events: all;
    top: $headerHeight;
    width: 85vw;
    max-width: 350px;
    height: calc(100vh - $headerHeight);
    padding: 10px 7px 4px 7px;
    box-sizing: border-box;
    background: $background;
  }
}

.mobileLoginInfo {
  .mat-card-avatar {
    font-size: 2.8em;
    margin-left: -5px;
    // margin-right: 10px;
  }
}

.swipe {
  position: fixed;
  top: $headerHeight;
  bottom: 0;
  width: 6vw;
  z-index: 20;
  &.left { left: 0; }
  &.right { right: 0; }
}
