
<header class="topHeader" [ngClass]="{ mobile: (mobileService.isMobile() | async) }">
  <button mat-icon-button *ngIf="mobileService.isMobile() | async" [routerLink]="router.url !== '/navigation' ? '/navigation' : '/'"
          class="navToggle" aria-label="Toggle navigation">
    <mat-icon>menu</mat-icon>
  </button>
  <a routerLink="/" class="title"><mat-icon svgIcon="logo" ngClass="logo"></mat-icon>otingane</a>
  <button mat-icon-button *ngIf="mobileService.isMobile() | async" [routerLink]="router.url !== '/controlpanel' ? '/controlpanel' : '/'"
          class="navToggle right" aria-label="Toggle user panel">
    <mat-icon>person</mat-icon>
  </button>
</header>

<div class="wrapper" [ngClass]="{ mobile: (mobileService.isMobile() | async) }">
  <!-- NAVIGATION BAR -->
  <div class="nav left" *ngIf="!(mobileService.isMobile() | async)">
    <app-nav-component></app-nav-component>
  </div>

  <!-- CONTENT -->
  <main class="main center">
    <router-outlet></router-outlet>
  </main>

  <!-- USER -->
  <aside class="user right" *ngIf="!(mobileService.isMobile() | async)">
    <app-control-panel-component></app-control-panel-component>
  </aside>
</div>

<!-- FOOTER -->
<app-footer-component class="footer"></app-footer-component>
