<ng-container *ngIf="authService.getUser() | async; let user" [ngSwitch]="layout">
	<ng-container *ngSwitchCase="'menu'">
		<button mat-menu-item routerLink="/user" routerLinkActive="active"><mat-icon>settings</mat-icon> User Settings</button>
		<mat-divider></mat-divider>
		<button mat-menu-item routerLink="/compose" routerLinkActive="active" *ngIf="user?.role === 'admin'"><mat-icon>create</mat-icon> Create Content</button>
		<button mat-menu-item routerLink="/admin" routerLinkActive="active" *ngIf="user?.role === 'admin'"><mat-icon>build</mat-icon> Administration</button>
		<mat-divider></mat-divider>
		<button mat-menu-item (click)="authService.logOut()"><mat-icon>exit_to_app</mat-icon> Log out</button>
	</ng-container>

	<ng-container *ngSwitchDefault>
		<mat-nav-list ngClass="nav" dense>
			<mat-divider></mat-divider>
			<a mat-list-item
			   routerLink="/user"
			   routerLinkActive="active"><mat-icon matListIcon>settings</mat-icon>User Settings</a>
			<mat-divider></mat-divider>
			<a mat-list-item *ngIf="user?.role === 'admin'"
			   routerLink="/compose"
			   routerLinkActive="active"><mat-icon matListIcon>create</mat-icon>Create Content</a>
			<a mat-list-item *ngIf="user?.role === 'admin'"
			   routerLink="/admin"
			   routerLinkActive="active"><mat-icon matListIcon>build</mat-icon>Administration</a>
			<mat-divider></mat-divider>
			<mat-list-item (click)="authService.logOut()"><mat-icon matListIcon>exit_to_app</mat-icon> Log out</mat-list-item>
		</mat-nav-list>
	</ng-container>
</ng-container>
