/// <reference path="../../../scss/_theme_vars.scss" />

.mat-card {
	margin-bottom: 10px;
}

.nav {
	position: relative;
	padding-top: 0;

	a.active {
		background: var(--color-active);
	}
}

button.active {
	background: var(--color-active);
}
