/// <reference path="../../../scss/_theme_vars.scss" />
@import "_theme_vars";

.mat-card {
	margin-bottom: 10px;
}

.nav {
	position: relative;
	padding-top: 0;

	a.active {
		background: $activeRouteBackground;
	}
}

button.active {
	background: $activeRouteBackground;
}
