

<div class="contentWrapper">
  <div *ngIf="contentSubject | async as contentObject; else loading">

    <!-- if the content exists and you're authorized, the contnet will be a valid object; else not. -->
    <ng-container *ngIf="contentObject && contentObject.content; else unavailable">

      <div *ngIf="authService.getUser() | async" class="pageControls">
        <button md-raised-button ngClass="editButton" color="accent" (click)="editPage()">
          Edit page
        </button>
        <button md-raised-button ngClass="deleteButton" color="warn" (click)="deletePage()" [disabled]="url === 'home'">
          Delete page
        </button>
      </div>


      <!-- THE ACTUAL CONTENT WILL BE RENDERED INSIDE HERE!!! -->
      <div #content class="content" [innerHTML]="san.bypassSecurityTrustHtml(contentObject.content)">
      </div>


      <div class="info" *ngIf="url !== 'home'">
        <div>
          Written by: {{contentObject.createdBy.email}}
        </div>
        <div>
          Updated by: {{contentObject.updatedBy.email}}
        </div>
        <div>
          Last updated: <span mdTooltip="{{ contentObject.updatedAt | dfnsDistanceInWordsToNow }} ago" mdTooltipPosition="above">
            {{ contentObject.updatedAt | date:'dd. MMM yyyy, HH:mm' }}
          </span>
        </div>
      </div>
    </ng-container>

    <!-- The content is unavailable or doesn't exist -->
    <ng-template #unavailable>
      <div class="content">
        Unavailable
      </div>
    </ng-template>
  </div>

  <ng-template #loading>
    <md-progress-bar mode="indeterminate" ngClass="loading"></md-progress-bar>
  </ng-template>
</div>
