

<div class="contentWrapper">
  <ng-container *ngIf="contentSubject | async as contentObject; else loading">

    <!-- if the content exists and you're authorized, the contnet will be a valid object; else not. -->
    <ng-container *ngIf="contentObject && contentObject.content; else unavailable">

      <div *ngIf="authService.getUser() | async" class="pageControls">
        <button md-icon-button [mdMenuTriggerFor]="pageControls">
          <md-icon>more_vert</md-icon>
        </button>
        <md-menu #pageControls="mdMenu" xPosition="before">
          <button md-menu-item (click)="editPage()">
            <md-icon>mode_edit</md-icon> Edit
          </button>
          <button md-menu-item (click)="deletePage()" [disabled]="url === 'home'">
            <md-icon>delete</md-icon> Delete
          </button>
        </md-menu>
      </div>


      <!-- THE ACTUAL CONTENT WILL BE RENDERED INSIDE HERE!!! -->
      <div #content class="content ck-editor__editable" [innerHTML]="san.bypassSecurityTrustHtml(contentObject.content)">
      </div>


      <div class="info" *ngIf="url !== 'home'">
        <div>
          Updated by: {{contentObject.updatedBy.email}}, <span mdTooltip="{{ contentObject.updatedAt | dfnsDistanceInWordsToNow }} ago" mdTooltipPosition="above">
            {{ contentObject.updatedAt | date:'dd. MMM yyyy, HH:mm' }}
          </span>
        </div>
        <div>
          Written by: {{contentObject.createdBy.email}}, <span mdTooltip="{{ contentObject.createdAt | dfnsDistanceInWordsToNow }} ago" mdTooltipPosition="above">
            {{ contentObject.createdAt | date:'dd. MMM yyyy, HH:mm' }}
          </span>
        </div>
      </div>
    </ng-container>

    <!-- The content is unavailable or doesn't exist -->
    <ng-template #unavailable>
      <div class="content">
        Unavailable
      </div>
    </ng-template>
  </ng-container>

  <ng-template #loading>
    <md-progress-bar mode="indeterminate" ngClass="loading"></md-progress-bar>
  </ng-template>
</div>
