<header class="topHeader" [ngClass]="{ 'fixed': (mobileService.isMobile() | async) }">

	<!-- Mobile navigation toggler -->
	<div class="flex" *ngIf="mobileService.isMobile() | async">
		<button mat-icon-button (click)="toggleLeft()"
				class="navToggle" aria-label="Toggle navigation">
			<mat-icon>menu</mat-icon>
		</button>
	</div>

	<!-- Title -->
	<div class="flex" [ngClass]="{ 'center': (mobileService.isMobile() | async) }">
		<a routerLink="/" class="title"><mat-icon svgIcon="logo" ngClass="logo"></mat-icon>otingane</a>
	</div>

	<!-- Search box -->
	<div class="flex center" *ngIf="!(mobileService.isMobile() | async)">
		<search-component class="search"></search-component>
	</div>

	<!-- Right side logic -->
	<!-- IF you are logged in -->
	<ng-container *ngIf="authService.getUser() | async as user; else headerlogin">
		<div class="flex right" [ngSwitch]="(mobileService.isMobile() | async)">
			<!-- For MOBILE -->
			<button mat-icon-button *ngSwitchCase="true" (click)="toggleRight()"
					class="userToggle mobile" aria-label="Toggle user panel">
				<mat-icon [color]="(authService.getUser() | async) ? 'primary' : ''">person</mat-icon>
			</button>
			<!-- For DESKTOP -->
			<button mat-button *ngSwitchCase="false" [matMenuTriggerFor]="userPanel"
					class="userToggle" aria-label="Show user menu">
				<mat-icon color="primary">person</mat-icon> {{ user.username }}
			</button>
		</div>
	</ng-container>

	<!-- If you are NOT logged in -->
	<ng-template #headerlogin>
		<div class="flex right" [ngSwitch]="(mobileService.isMobile() | async)">
			<!-- For MOBILE -->
			<button mat-icon-button *ngSwitchCase="true" routerLink="/login" routerLinkActive="active" class="userToggle mobile" aria-label="Go to login">
				<mat-icon>person</mat-icon>
			</button>
			<!-- For DESKTOP -->
			<button mat-button *ngSwitchCase="false" routerLink="/login" routerLinkActive="active" class="userToggle" aria-label="Go to login">
				<mat-icon>person</mat-icon> <ng-container *ngIf="!(mobileService.isMobile() | async)">Login</ng-container>
			</button>
		</div>
	</ng-template>
</header>

<!-- Menu for DESKTOP -->
<mat-menu #userPanel="matMenu" xPosition="before" yPosition="below" [overlapTrigger]="false">
	<control-panel-component *ngIf="!(mobileService.isMobile() | async)" layout="menu"></control-panel-component>
</mat-menu>