/// <reference path="../../../scss/_theme_vars.scss" />
@import '_theme_vars';


// HEADER
.topHeader {
	background: $contentBG;
	border-bottom: $border;
	height: $headerHeight;
	max-height: $headerHeight;
	box-sizing: border-box;
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	z-index: 1000;
	box-shadow: $boxShadow;

	.wrapper {
		height: $headerHeight;
		max-height: $headerHeight;
		padding: 0 8px;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	a.title {
		text-align: center;
		font-size: 1.5em;

		.logo {
			vertical-align: bottom;
			margin-bottom: 2px;
			margin-right: 1px;

			::ng-deep path {
				fill: $primary;
			}
		}
	}

	.search {
		height: calc(#{$headerHeight} - 12px);
		max-height: calc(#{$headerHeight} - 12px);
		box-sizing: border-box;
		background: $sideBG;
		box-shadow: $boxShadow inset;
	}
}
