/// <reference path="../../../scss/_theme_vars.scss" />

// HEADER
.topHeader {
	padding: 0 8px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	box-sizing: border-box;
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	z-index: 1000;
	height: var(--height-header);
	max-height: var(--height-header);
	background: var(--color-content);
	border-bottom: var(--border);
	box-shadow: var(--shadow);

	.flex {
		flex: 1 1;
		display: flex;
		flex-flow: nowrap;

		&.center {
			justify-content: center;
			flex: 2 2;
		}

		&.right {
			justify-content: flex-end;
		}
	}

	a.title {
		font-size: 1.5em;

		.logo {
			vertical-align: bottom;
			margin-bottom: 2px;
			margin-right: 1px;

			::ng-deep path {
				fill: var(--color-primary);
			}
		}
	}
}
