
.compose {
	.formControls {
		display: flex;
		align-items: baseline;
		flex-flow: row wrap;
		justify-content: space-between;

		.field {
			flex: 1 1;
			padding-left: 10px;
			max-width: 200px;
		}
	}

	&.mobile {
		margin: 0 10px;

		.formControls {
			display: block;
			.field {
				flex: none;
				display: block;
				padding: 0;
				max-width: initial;
			}
		}
	}
}



.actions,
.formControls {
	margin: 10px 0;
}

mat-icon.mat-icon {
	font-size: 1.2em;
	margin: 0 2px 0 0;
	vertical-align: text-top;
}
