
.editor {
	flex: 1 1 100%;
}

.actions {
	padding: 10px 0;
	box-sizing: border-box;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: baseline;
}


mat-icon.mat-icon {
	font-size: 1.2em;
	margin: 0 2px 0 0;
	vertical-align: text-top;
}
