.compose {
	.actions {
		padding: 10px;
		box-sizing: border-box;
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
		align-items: baseline;

		.offset {
			margin-left: 10px;
		}
	}

	&.mobile {
		.actions {
			.group {
				display: flex;
				justify-content: space-between;
				align-items: baseline;
				width: 100%;
			}

			.submit {
				width: 100%;
			}
		}
	}

	::ng-deep .mat-tab-body {
		min-height: 320px;
	}
}


mat-icon.mat-icon {
	font-size: 1.2em;
	margin: 0 2px 0 0;
	vertical-align: text-top;
}
