<h1>Compose</h1>
<div class="compose" [ngClass]="{ mobile: (mobileService.isMobile() | async) }">
	<form [formGroup]="contentForm" (ngSubmit)="submitForm()" id="contentForm">

		<mat-tab-group class="demo-tab-group">
			<mat-tab label="Page Settings">
				<sectionwrapper-component>
					<section-component header="Page Information">
						<!-- TITLE -->
						<div class="field">
							<label for="title" [ngClass]="{ disabled: title.disabled }">Title</label>

							<mat-form-field floatLabel="never">
								<input matInput id="title" #title formControlName="title" placeholder="Title" type="text"
									   [errorStateMatcher]="formErrorInstant" autocomplete="off" required [maxlength]="maxShortInputLength">
								<mat-error *ngIf="contentForm.get('title').hasError('required')">
									Title is <strong>required</strong>
								</mat-error>
								<mat-error *ngIf="contentForm.get('title').hasError('alreadyExists')">
									Title already exists!
								</mat-error>
								<mat-hint align="end">{{title.value.length}} / {{maxShortInputLength}}</mat-hint>
							</mat-form-field>
						</div>
						<!-- ROUTE -->
						<div class="field">
							<label for="route" [ngClass]="{ disabled: route.disabled }">Route</label>
							<mat-form-field floatLabel="never">
								<span matPrefix> / </span>
								<input matInput id="route" #route formControlName="route" placeholder="Route" type="text"
									   [errorStateMatcher]="formErrorInstant" autocomplete="off" required [maxlength]="maxShortInputLength">
								<mat-error *ngIf="contentForm.get('route').hasError('required')">
									Route is <strong>required</strong>
								</mat-error>
								<mat-error *ngIf="contentForm.get('route').hasError('alreadyExists')">
									Route already exists!
								</mat-error>
								<mat-hint align="end">{{route.value.length}} / {{maxShortInputLength}}</mat-hint>
							</mat-form-field>
						</div>
						<!-- DESCRIPTION -->
						<div class="field">
							<label for="desc" [ngClass]="{ disabled: desc.disabled }">Description</label>
							<mat-form-field floatLabel="never">
								<input matInput id="desc" #desc formControlName="description" placeholder="Description" type="text"
									   autocomplete="off" required [maxlength]="maxLongInputLength">
								<mat-error *ngIf="contentForm.get('description').hasError('required')">
									Description is <strong>required</strong>
								</mat-error>
								<mat-hint align="end">{{desc.value.length}} / {{maxLongInputLength}}</mat-hint>
							</mat-form-field>
						</div>
					</section-component>

					<section-component header="Accessibility" class="formControls">

						<!-- ACCESS -->
						<div class="field">
							<label for="access" [ngClass]="{ disabled: access.disabled }">Access</label>
							<mat-form-field floatLabel="never">
								<!-- <mat-icon matPrefix>{{getAccessChoice().icon}}</mat-icon> -->
								<mat-select id="access" #access formControlName="access" placeholder="Access" required>
									<mat-option *ngFor="let option of accessChoices" [value]="option.value">
										{{ option.verbose }}
									</mat-option>
								</mat-select>
							</mat-form-field>
						</div>

						<!-- NAV -->
						<div class="field">
							<mat-checkbox formControlName="nav" (change)="setFormDisabledState()" class="full" labelPosition="before">
								Show in navigation
							</mat-checkbox>
						</div>

						<!-- FOLDER -->
						<div class="field">
							<label for="folder" [ngClass]="{ disabled: folder.disabled }">Navigation Folder</label>
							<mat-form-field floatLabel="never">
								<input matInput id="folder" #folder formControlName="folder" placeholder="Folder" type="text"
									   autocomplete="off" [matAutocomplete]="folderAuto" [maxlength]="maxShortInputLength">
								<mat-hint align="end">{{folder.value.length}} / {{maxShortInputLength}}</mat-hint>
								<mat-autocomplete #folderAuto="matAutocomplete">
									<mat-option *ngFor="let folder of folders" [value]="folder">
										{{ folder }}
									</mat-option>
								</mat-autocomplete>
							</mat-form-field>
						</div>
					</section-component>
				</sectionwrapper-component>
			</mat-tab>

			<mat-tab label="Content">
				<!-- CONTENT -->
				<ck-editor class="editor" [control]="contentForm.get('content')"></ck-editor>
			</mat-tab>


			<mat-tab label="Preview" #previewTab>
				<ng-template matTabContent>
					<content-component [contentInput]="contentForm.getRawValue()" previewMode="true"></content-component>
				</ng-template>
			</mat-tab>

		</mat-tab-group>

	</form>

	<div ngClass="actions">
		<div class="group">
			<!-- VERSION -->
			<mat-form-field>
				<mat-select id="access" [disabled]="!history" [(value)]="versionIndex" (selectionChange)="versionChange($event)">
					<ng-container *ngIf="history; else noHistoryAvailable">
						<mat-option [value]="VersionHistory.Draft">
							{{getHistoryItemFormatted(history[0].version + 2, 'Current draft')}}
						</mat-option>
						<mat-option *ngFor="let contentObj of history; let i = index" [value]="i">
							{{getHistoryItemFormatted(contentObj.version + 1, contentObj.updatedAt | date)}}
						</mat-option>
					</ng-container>
					<ng-template #noHistoryAvailable>
						<mat-option [value]="VersionHistory.Draft">
							{{getHistoryItemFormatted(1, 'New draft')}}
						</mat-option>
					</ng-template>
				</mat-select>
			</mat-form-field>

			<button mat-raised-button ngClass="offset" *ngIf="versionIndex >= 0" (click)="restoreOldVersion()">
				Restore
			</button>
		</div>


		<div class="group">
			<button mat-raised-button form="contentForm" class="submit" type="submit" [disabled]="!contentForm.valid" color="primary">
				{{ originalContent ? 'Update page' : 'Create page' }}
			</button>
		</div>

	</div>
</div>
