
<div>
  <h1>Steam Servers</h1>
  <ng-template>
    <!-- TITLE -->
    <mat-form-field class="field">
      <input matInput placeholder="Title" type="text" formControlName="title" autocomplete="off" required>
      <mat-error *ngIf="contentForm.get('title').hasError('required')">
        Title is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <!-- ROUTE -->
    <mat-form-field class="field">
      <span matPrefix> / </span>
      <input matInput placeholder="Route" type="text" formControlName="route" autocomplete="off" required>
      <mat-error *ngIf="contentForm.get('route').hasError('required')">
        Route is <strong>required</strong>
      </mat-error>
      <mat-error *ngIf="contentForm.get('route').hasError('routeAlreadyTaken')">
        Route is already taken! Choose another
      </mat-error>
    </mat-form-field>

    <!-- TYPE -->
    <mat-form-field class="field">
      <mat-select placeholder="Access" formControlName="type" required>
        <mat-option value="arkse">
          arkse
        </mat-option>
      </mat-select>
    </mat-form-field>

    <!-- ADDRESS -->
    <mat-form-field class="field">
      <input matInput placeholder="Address" type="text" formControlName="address" autocomplete="off" required>
      <mat-error *ngIf="contentForm.get('address').hasError('required')">
        Address is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <!-- PORT -->
    <mat-form-field class="field">
      <input matInput placeholder="Port" type="text" formControlName="port" autocomplete="off" required>
      <mat-error *ngIf="contentForm.get('port').hasError('required')">
        Port is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <!-- SUBMIT BUTTON -->
    <button mat-raised-button form="contentForm" type="submit" [disabled]="!contentForm.valid" color="primary">
      {{ inputContent ? 'Update page' : 'Create page' }}
    </button>

  </ng-template>

  <button mat-raised-button (click)="addServer()" color="primary">
    Add Steam Server
  </button>

</div>
