<!-- ASYNC CHECK; SUBSCRIBES TO LOGGED-IN OBSERVABLE; UPDATES AUTOMAGICALLY -->
<ng-container *ngIf="authService.getUser() | async as user;">
  <mat-accordion multi="false">

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>Change Password</mat-panel-title>
      </mat-expansion-panel-header>
      <!-- CHANGE PASSWORD FORM -->
      <form [formGroup]="changePasswordForm" (ngSubmit)="submitForm()" id="changePasswordForm">
        <!-- CURRENT PASSWORD -->
        <mat-form-field class="field">
          <input matInput placeholder="Current password" type="password" formControlName="currentPassword" required>
          <mat-error *ngIf="changePasswordForm.get('currentPassword').hasError('required')">
            Current password is <strong>required</strong>
          </mat-error>
        </mat-form-field>

        <!-- NEW PASSWORD -->
        <mat-form-field class="field">
          <input matInput placeholder="New password" type="password" formControlName="password" required>
          <mat-error *ngIf="changePasswordForm.get('password').hasError('required')">
            Password is <strong>required</strong>
          </mat-error>
          <mat-hint *ngIf="changePasswordForm.errors?.matchingPasswords">
            This field must match the confirm password field
          </mat-hint>
        </mat-form-field>

        <!-- CONFIRM PASSWORD -->
        <mat-form-field class="field">
          <input matInput placeholder="Confirm password" type="password" formControlName="confirm" required>
          <mat-error *ngIf="changePasswordForm.get('confirm').hasError('required')">
            Password is <strong>required</strong>
          </mat-error>
          <mat-hint *ngIf="changePasswordForm.errors?.matchingPasswords">
            This field must match the password field
          </mat-hint>
        </mat-form-field>
      </form>
      <mat-action-row>
        <button mat-raised-button form="changePasswordForm" type="submit" [disabled]="!changePasswordForm.valid" color="primary">
          Change Password
        </button>
      </mat-action-row>
    </mat-expansion-panel>
  </mat-accordion>
</ng-container>
