<div class="wrapper">
  <md-toolbar color="primary" ngClass="topHeader">
    <a routerLink="/">Sotingane</a>
    <span class="spacer"></span>
    <button md-mini-fab (click)="userSection.toggle()"><md-icon>person</md-icon></button>
  </md-toolbar>

  <md-sidenav-container>
    <md-sidenav #userSection mode="over" opened="false" position="end" class="userSection">
      <!-- LOGIN BOX -->
      <app-login-component></app-login-component>
      <!-- USER SETTINGS -->
      <app-user-component></app-user-component>
    </md-sidenav>

    <!-- NAVIGATION BAR -->
    <md-nav-list ngClass="navBar">
      <a md-list-item *ngFor="let navEntry of nav"
        routerLink="{{navEntry.url}}"
        ngClass="navItem"
        routerLinkActive="active">{{ navEntry.name }}</a>
    </md-nav-list>

    <!-- CONTENT -->
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </md-sidenav-container>
</div>
