

$contentBG: #fff;
$navBG: #ddd;
$border: 1px solid #999;



.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}
.content {
  padding: 10px;
  background: $contentBG;
  min-height: 450px;
  border: $border;
  border-style: none solid solid solid;
}

.navBar {
  background: $navBG;
  border: $border;
  border-style: none solid;
  padding-top: 0;
  a {
    display: inline-block;
  }
  // display: flex;
  // flex-wrap: wrap;
  // justify-content: space-between;
}

a.mat-list-item.navItem {
  // display: inline-block;
  // flex: 1 1;
  // min-width: 200px;
  // text-align: center;
  &.active {
    background: #fff;
  }
}

.spacer {
  flex: 1 1 auto;
}

.userSection {
  padding: 10px;
  background: #ddd;
  width: 420px;
  max-width: 100%;
}
