@import 'theme.scss';

.content {
  a, p {
    word-break: break-all;
  }
  a {
    text-decoration: underline;
    &:hover, &:active {
      text-decoration: underline;
      color: $primary;
    }
  }
  blockquote {
    border-left: none;

    padding: 0.9em 0 0 3em;
    margin: 0 0 20px;
    position: relative;
    font-style: italic;
    p, h1, h2, h3, h4, h5, h6 {
      margin: 0;
    }

    &::before {
      content: "\201C"; // left doublequote
      font-family: Georgia, serif;
      font-size: 5em;
      font-weight: bold;
      color: #999;

      position: absolute;
      left: 0;
      top: -0.2em;
    }
    &::after {
      content: attr(cite);
      font-size: 0.75em;
    }
  }

  ul, ol {
    padding-left: 2em;
    li {
      padding: 0.3em 0;
    }
  }

  figure.image {
    text-align: center;
    clear: none !important;
    margin-left: 0;
    margin-right: 0;
    box-sizing: border-box;


    > img {
      display: block;
      margin: 0 auto;
      max-width: 100%;
    }

    & > figcaption {
      color: #333;
      background-color: rgba(0,0,0,0.075) !important;
      padding: .8em;
      font-size: .75em;
    }

    &.image-style-align-left,
    &.image-style-align-right {
      display: inline-block;
      max-width: 50%;
      margin-top: 0;
    }


    &.image-style-align-left {
      float: left;
      margin-right: .8em;
    }
    &.image-style-align-right {
      float: right;
      margin-left: .8em;
    }
  }
}

// Mobile styling
.wrapper.mobile {
  .content {
    figure.image {
      &.image-style-align-right,
      &.image-style-align-left {
        float: none;
        display: block;
        max-width: 100%;
        margin-left: .8em;
        margin-right: .8em;
      }
    }
  }
}
