
.gameWrapper {
  min-height: 400px;
}

.online {
  color: green;
}
.offline {
  color: red;
}
.loading {
  width: 200px;
  margin: 0 auto;
}

.serverStatus {
  font-weight: bold;
  font-size: 1.5em;
}

.gameDataTable,
.playerDataTable {
  width: 100%;
  border-collapse: collapse;
  tr:nth-child(even) {
    background: rgba(0,0,0,0.1);
  }
  td, th {
    padding: 5px;
  }
}
.alignRight {
  text-align: right;
}
.alignCenter {
  display: block;
  text-align: center;
}

.footer {
  margin-top: 20px;
}

.flexParent {
  display: flex;
}
.flex {
  padding: 5px;
  flex: 1 1;
  h2 {
    display: block;
    text-align: center;
  }
}
