<!--

	* default homepage route
	* cms author details

	* access levels / permission groups
	* content modules (steam servers etc)
	* theme
	*
-->

<form [formGroup]="settingsForm" id="settingsForm" class="settingsForm" autocomplete="off"
	  [ngClass]="{ mobile: (mobileService.isMobile() | async) }" (ngSubmit)="submitForm()">


	<sectionwrapper-component>
		<!-- Content Management SECTION -->
		<section-component header="Content Management">
			<!-- showAuthorDetails -->
			<div class="field">
				<mat-checkbox formControlName="showAuthorDetails" class="full" labelPosition="before">
					<span class="checkLabel">Show content author details</span>
				</mat-checkbox>
			</div>

			<div class="field">
				<label for="something">test</label>
				<mat-form-field>
					<input matInput id="something" type="text"> <!--  formControlName="something" -->
				</mat-form-field>
			</div>
		</section-component>


		<section-component header="Some Other Section">
			<p>Test</p>
		</section-component>

		<section-component header="Some third">
			<div style="height: 200px;"></div>
		</section-component>

		<section-component header="etc">
			<p>mad man maximus</p>
		</section-component>

	</sectionwrapper-component>
</form>

<div class="submitbox">
	<button mat-raised-button type="submit" form="settingsForm" [disabled]="(!settingsForm.valid || !settingsForm.dirty)">
		Save
	</button>
</div>
