<ng-container *ngIf="displayedResults | async as filteredUsers; else unavailable">

	<div [ngClass]="{ filterBox: true, mobile: (mobileService.isMobile() | async) }" [formGroup]="filterForm">
		<mat-form-field floatLabel="never" ngClass="filter">
			<input matInput placeholder="Filter" type="text" autocomplete="off" formControlName="filterControl">
			<button *ngIf="filterForm.get('filterControl').value.length > 0" matSuffix mat-icon-button
					(click)="filterForm.get('filterControl').reset('')"><mat-icon>clear</mat-icon></button>
		</mat-form-field>
	</div>

	<div class="users">{{users.length || 0}} users<span *ngIf="numFilteredUsers !== users.length">, filtered: {{numFilteredUsers}}</span></div>
	<mat-list ngClass="list"> <!-- filteredUsers defined via async pipe above -->
		<ng-container *ngFor="let user of filteredUsers; let i = index; trackBy: trackBy">
			<mat-divider></mat-divider>
			<mat-list-item class="item">
				<h4 mat-line>{{user.username}}</h4>
				<p mat-line>{{user.role}}</p>
				<button [disabled]="authService.isSameUser(user, authService.getUser().getValue())" #config
						mat-mini-fab (click)="configUser(user)">
					<mat-icon [color]="config.disabled ? '' : 'primary'">settings</mat-icon>
				</button>
			</mat-list-item>
		</ng-container>

	</mat-list>
	<mat-paginator [length]="numFilteredUsers || 0" [(pageSize)]="pageSize" [hidePageSize]="mobileService.isMobile() | async"
				   [pageSizeOptions]="pageSizes" (page)="paginator($event)" [pageIndex]="pageIndex" showFirstLastButtons="true">
	</mat-paginator>
</ng-container>

<ng-template #unavailable>
	Loading..
</ng-template>
