/// <reference path="../../../scss/_theme_vars.scss" />
@import '_theme_vars';

.relevance {
	font-size: 0.75em !important;
}

.filterBox {
	margin: 0 auto;
	width: 250px;

	&.mobile {
		width: 80%;
	}

	.filter {
		width: 100%;
	}
}
