@import "_colours";


// COLOUR, defaultShade, lighterShade, darkerShade
$mat-primary: ($mat-green, 300, 300, 900);
$mat-accent:  ($mat-black, 400, 300, 500);
$mat-warn:    $mat-red-warn;

$primary:     map-get(nth($mat-primary, 1), nth($mat-primary, 2));
$accent:      map-get(nth($mat-accent,  1), nth($mat-accent,  2));

// Generic colours
$background:  #121212;
$headerBG: #232323;
$sideBG: #191919;

$contentBG: #232323;
$materialBG: #303030;

$border: 1px solid #000;


$activeRouteBackground: rgba($primary, 0.3); // rgba(255,255,255,0.10);
$overlayColour: rgba(0,0,0,0.10);
$boxShadow: 0 0 1.2em 0 rgba(0,0,0,0.30);
$textColor: #ccc;

// Sizing
$wrapperWidth: 1400px;
$sideWidth: 220px;

$headerHeight: 40px;
$footerHeight: 88px;

$maximumFieldWidth: 400px;
