@import "_colours";

@mixin darkTheme {
  // COLOUR, defaultShade, lighterShade, darkerShade
  $mat-primary: ($mat-red, 900, 300, 900) !global;
  $mat-accent: ($mat-gold, 600, 100, 700) !global;
  $mat-warn: $mat-red-warn; // imported from theme.colours.

  $primary: map-get(nth($mat-primary, 1), nth($mat-primary, 2)) !global;
  $accent: map-get(nth($mat-accent, 1), nth($mat-accent, 2)) !global;
  $background: #111 !global;
  $background_content: #1e1e1e !global;

  $app-primary: mat-palette(nth($mat-primary, 1), nth($mat-primary, 2), nth($mat-primary, 3), nth($mat-primary, 4)) !global;
  $app-accent:  mat-palette(nth($mat-accent, 1), nth($mat-accent, 2), nth($mat-accent, 3), nth($mat-accent, 4)) !global;
  $app-warn:    mat-palette($mat-warn) !global;
  $app-theme: mat-dark-theme($app-primary, $app-accent, $app-warn) !global;

}

@mixin darkThemeContent {
  .mat-card {
    background: $background_content;
    color: #bbb;
  }
  header.topHeader {
    background: $background_content;
  }
  .footer footer.footer {
    color: #666;
  }
  .wrapper div.nav.left {
    .mat-list-item {
      color: #bbb;
    }
    .mat-subheader {
      color: $accent;
    }
  }

  .ck-editor__editable,
  .content {
    figure.image > figcaption {
      color: #999;
      background-color: darken($background_content, 3%) !important;
    }
  }
}
