/// <reference path="../../../scss/_theme_vars.scss" />
@import '_theme_vars';

.relevance {
	font-size: 0.75em !important;
}

.search {
	margin-top: 10px;
}

.results {
	margin-top: 10px;
}

$itemHeight: 72px;

.item {
	height: $itemHeight !important;
	position: relative;

	.imgWrapper {
		position: absolute;
		right: 0;
		top: 0;
		height: $itemHeight;
		width: $itemHeight;
		overflow: hidden;
		display: flex;
		justify-content: center;
		box-sizing: border-box;
		border: $border;
		background: $sideBG;

		&:after {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
			width: 100%;
			z-index: 1000;
			box-shadow: $boxShadow inset;
			pointer-events: none;
		}

		img {
			margin: auto;
			width: auto;
			height: 100%;
		}
	}
}
