
<md-card>
  <md-card-title>ARK: Survival Evolved Server</md-card-title>

  <md-card-content>
      <ng-container *ngIf="steamService.getARKData() | async; let gameData; else loading">

        <!-- Lets check if the content is actually there. Else there was an issue -->
        <ng-container *ngIf="gameData.players; else issue">
          <span class="alignCenter serverStatus online">Online</span>

          <div class="gameData">
            <!-- Players connected text -->
            <span class="numOnline alignCenter" [ngSwitch]="(gameData && gameData.raw && gameData.raw.rules) ? true : false">
              Players connected:
              <span *ngSwitchCase="true">
                {{ gameData.maxplayers - gameData.raw.rules.NUMOPENPUBCONN }}
              </span>
              <span *ngSwitchCase="false">{{ (gameData && gameData.players) ? gameData.players.length : 'N/A' }}</span>
            </span>

            <!-- Server info & player info table parent -->
            <div class="flexParent">

              <!-- Server info -->
              <div class="flex">
                <h3 class="alignCenter">Server Information</h3>
                <table class="gameDataTable">
                  <tr><th>Header</th><th>Value</th></tr>
                  <tr><td>Name</td><td class="alignRight">{{ gameData.name.substring(0,gameData.name.indexOf(' ')) }}</td></tr>
                  <tr><td>Map</td><td class="alignRight">{{ gameData.map }}</td></tr>
                  <tr><td>Max Players</td><td class="alignRight">{{ gameData.maxplayers }}</td></tr>
                  <tr><td>Password protected</td><td class="alignRight">{{ gameData.password }}</td></tr>
                  <tr *ngIf="gameData"><td>Version</td><td class="alignRight">
                    {{ gameData.name.substring(gameData.name.indexOf('(')+1, gameData.name.length-1) }}</td></tr>
                  <tr *ngIf="gameData && gameData.raw"><td>Days</td><td class="alignRight">
                    {{ gameData.raw.rules.DayTime_s }}</td></tr>
                  <tr *ngIf="gameData && gameData.raw"><td>BattlEye</td><td class="alignRight">
                    {{ gameData.raw.rules.SERVERUSESBATTLEYE_b }}</td></tr>
                </table>
              </div>

              <!-- player info -->
              <div class="flex">
                <h3 class="alignCenter">Player Information</h3>
                <table class="playerDataTable">
                  <tr>
                    <th>Player Steam Name</th>
                    <th>Last login date</th>
                  </tr>
                  <tr *ngFor="let player of gameData.players">
                    <td class="playerName">{{ player.name }}</td>
                    <td class="alignRight">
                      <span mdTooltip="{{ player.timeDate | dfnsDistanceInWordsToNow }} ago" mdTooltipPosition="above">
                        {{ player.timeDate | date:'dd. MMM, HH:mm' }}
                      </span>
                    </td>
                  </tr>
                </table>
              </div>
            </div>

            <!-- Footer -->
            <span class="footer alignCenter">
              <span mdTooltip="{{ gameData.lastUpdate | dfnsDistanceInWordsToNow }} ago"
                mdTooltipPosition="above">
                Last update: {{ gameData.lastUpdate | date:'HH:mm:ss'}}</span>
            </span>
          </div>

        </ng-container>

        <!-- ISSUE TEMPLATE -->
        <ng-template #issue>
          <!-- OFFLINE -->
          <ng-container *ngIf="gameData.offline; else timeout">
            <span class="alignCenter serverStatus offline">Offline</span>
            <span class="alignCenter error">Could not establish a connection with the server.</span>
          </ng-container>

          <!-- TIMEDOUT -->
          <ng-template #timeout>
            <span class="alignCenter serverStatus timedOut">
              Request timed out.
            </span>
          </ng-template>
        </ng-template>

      </ng-container>

      <!-- LOADING TEMPLATE -->
      <ng-template #loading>
        <md-progress-bar mode="indeterminate" ngClass="loading"></md-progress-bar>
      </ng-template>
  </md-card-content>
</md-card>
