/// <reference path="../../../scss/_theme_vars.scss" />

.searchBox {
	width: 350px;
	transition: width ease-in-out 0.5s;
	background: var(--color-sidepanel);
	box-shadow: var(--shadow) inset;
	height: calc(var(--height-header) - 12px);
	max-height: calc(var(--height-header) - 12px);
	box-sizing: border-box;

	&.altCol {
		background: var(--color-background); // darken($sideBG, 99%)
	}

	&:not(.mobile).wide {
		width: 550px;
	}

	&.mobile {
		width: 90%;
		max-width: 90%;
		margin: 0 auto;
	}

	.field {
		display: block;
	}

	& ::ng-deep {
		.mat-form-field-infix {
			border-top: none;
		}
	}

	::ng-deep .mat-form-field-underline {
		display: none;
	}
}
