<div [ngClass]="{ searchBox: true, mobile: (mobileService.isMobile() | async), wide: (form.get('search').value.length > 0), 'altCol': alternativeColor }">
	<form [formGroup]="form" (ngSubmit)="search()">
		<mat-form-field class="field" floatLabel="never">
			<button matPrefix mat-icon-button type="submit"><mat-icon>search</mat-icon></button>
			<input matInput placeholder="Search" type="text" autocomplete="off" formControlName="search">
			<button *ngIf="form.get('search').value.length > 0" matSuffix mat-icon-button (click)="clear()"><mat-icon>clear</mat-icon></button>
		</mat-form-field>
	</form>
</div>
