@import "../../../theme.scss";

$headerColor: #6b0000;

$contentBG: rgba(255,255,255,0.8);
$border: 1px solid #666;

$contentWidth: 800px;
$sideWidth: 200px;


// SITE SETUP
.wrapper {
  background: none !important;
  min-height: calc(100vh - 44px - 48px);
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: stretch;

  .left,
  .right,
  .center {
    flex: 1 1;
    padding: 10px 7px 4px 7px;
    box-sizing: border-box;
  }

  .left,
  .right {
    max-width: $sideWidth;
  }
  .center.main {
    max-width: $contentWidth;
  }
}

// HEADER
.topHeader {
  background: $headerColor;
  display: flex;
  justify-content: center;
  padding: 0.5em;
  color: #fff;
  a {
    text-align: center;
    font-size: 1.5em;
    margin: 0 auto;
    .logo {
      vertical-align: bottom;
      margin-bottom: 2px;
      margin-right: 1px;
    }
  }
  .navToggle {
    position: absolute;
    top: 2px;
    left: 2px;
    &.right {
      left: auto;
      right: 2px;
    }
  }
}


// SIDE CONTENT

.nav {
  padding-top: 0;
  a.active {
    background: rgba(0,0,0,0.10);
  }
  .subItem {
    margin-left: 14px;
  }
}

.sidenavContainer {
  background: none;
  .sidenav {
    width: 100vw;
    padding: 10px 7px 4px 7px;
    box-sizing: border-box;
    background: $background;
  }
}
